* {
  box-sizing: border-box;
  padding: 0;
}

/* color used */
:root {
  --white: #ffffff;
  --blue: #04a1bf;
  --green: #51df70;
  --orange: #ffcd5d;
  --shadedBlue: #025f70;
  --btn: #025f70;
  --pencil: #04a1bf;
}

body {
  background-color: #04a1bf;
}
.titlePage {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.toDoInput {
  text-align: center;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.toDoInput p:nth-child(1) {
  color: var(--orange);
}
.toDoInput p:nth-child(2) {
  color: var(--green);
}
.toDoInput p:nth-child(3) {
  color: var(--shadedBlue);
}

.inputBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#inputArea {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: none;
  min-width: 65%;
  padding: 5px;
  border-radius: 5px;
  overflow: auto;
}

.btn {
  margin-left: 4px;
  background-color: var(--shadedBlue);
  color: var(--pencil);
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.btn:hover {
  color: var(--orange);
  background-color: #03849b;
}

.listItems {
  margin:10px auto;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  border: 2px solid var(--shadedBlue);
  border-radius: 5px;
  color: aliceblue;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 10px;
  list-style: none;
  overflow: auto;
  background-color: var(--Blue);
}

.listItems:hover,
.listItems:hover button {
  background-color: #07b6da;
}

.btnItems {
  border: none;
  padding: 0 10px;
  color: var(--shadedBlue);
  font-weight: 900;
  font-size: 20px;
  background-color: var(--Blue);
  cursor: pointer;
}

.finishedItem {
  background-color: #51df70;
}
